:root {
  --TA-color: #003caa;
}
html,
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.TA--header {
  background-color: var(--TA-color);
  display: flex;
  justify-content: center;
  padding: 6px 0;
}
.TA--container {
  margin: auto;
  max-width: 1200px;
  padding: 2.5rem 1.25rem;
}

.TA--menu {
  display: flex;
  gap: 1.5rem;
}
.TA--menu-tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  h1 {
    color: var(--TA-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem; /* 112.5% */
  }
  nav {
    border-radius: 1rem;
    border: 1px solid var(--blue-300, #93c5fd);
    background: var(--blue-50, #eff6ff);
    display: flex;
    padding: 5px;
    align-items: flex-start;
    gap: 0.25rem;
    a {
      display: flex;
      padding: 1rem 1.5rem;
      height: 2.75rem;
      justify-content: center;
      align-items: center;
      color: var(--blue-800, #1e40af);
      border: 1px solid var(--blue-50, #eff6ff);
      font-size: 1rem;
      line-height: 1; /* 0% */
      text-wrap: nowrap;
      border-radius: 0.625rem;
      &:hover {
        background: var(--blue-100, #dbeafe);
        border: 1px solid var(--blue-100, #dbeafe);
      }
      &[aria-current='page'] {
        border: 1px solid var(--blue-700, #1d4ed8);
        background: var(--blue-600, #2563eb);
        color: white;
      }
    }
  }
}

.TA--menu-infos {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 460px;
  min-width: 320px;
  width: 100%;
  color: var(--cyan-900, #164e63);
  padding: 1.25rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.75rem;
  background: #a1e1ff;
  font-size: 1rem;
  font-size: 0.875rem;
  line-height: 1rem; /* 125% */
  h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem; /* 125% */
  }
  picture {
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}
